body{
    background-color: lightgray;
}
h1, h2, h3{
    font-family: verdana;
    text-align: center;
}

h1 {
    font-size: 3rem;
    padding-top: 0.5rem;
    color: #ECECEA;
    margin: 0;
}

h2 {
	/*Størrelse på overskrift*/
    font-size: 2rem;
    margin: 0;
    color: cadetblue;
    padding-bottom: 0.5rem;   
}

header, nav, main {
	/*Bredde*/
    width: 95%;
}

header {
    height: 20vh;
    /*Midtstiller*/
    margin: auto;
    background-color: cadetblue;
}

nav, main {
    position: relative;
    /*Midtstiller*/
    margin: auto;
}

nav a {
	/*Størrelsen på elementene*/
    padding: 0.5rem 2rem;
    background-color: lightgreen;
    color: purple;
    /*Tar vekk understrek*/
    text-decoration: none;
    font-size: 2em;
    border-radius: 9px;
    /*Gjør elementene mer gjennomsiktige*/
    opacity: 0.6;
}
.link{
    margin-left: 150px;
}
.grid{
	display: grid;
	margin-right: 3%;
	margin-left: 3%;
	grid-template-columns: 30% 30% 30%;
	grid-column-gap: 5%;
	/*Mellomrommet mellom rettene*/
	grid-row-gap: 2vh;
}

/*Diven som inneholder vare informasjonen*/
.grid_vare{
	margin-top: 6%;
	margin-bottom: 6%;
	text-align: center;
	align-self: center;
}

/*lager en skygge når du holder over vare diven*/
.grid_vare:hover{
	box-shadow: 0px 0px 16px 3px rgba(0,0,0,0.2);
}

/*Navnet til varen*/
.grid_vare .navn{
	font-family: Tahoma,Verdana,Arial,sans-serif;
	font-size: 16px;
	font-weight: bold;
}

/*Info om varen*/
.grid_vare .info{
	font-family: Tahoma,Verdana,Arial,sans-serif;
	font-size: 15px;
}

/*Bildet av varen*/
.grid_vare img{
	margin-top: 7%;
	height: auto; 
	width: 70%;
	border-radius: 10px;
}



.meny{
	display: grid;
	margin-right: 3%;
	margin-left: 3%;
	grid-template-columns: 30%;
	grid-column-gap: 5%;
	/*Mellomrommet mellom rettene*/
	grid-row-gap: 1vh;
}

/*Diven som inneholder vare informasjonen*/
.meny_vare{
	margin-top: 6%;
	margin-bottom: 6%;
	text-align: center;
	align-self: center;
}

/*lager en skygge når du holder over vare diven*/
.meny_vare:hover{
	box-shadow: 0px 0px 16px 3px rgba(0,0,0,0.2);
}

/*Navnet til varen*/
.meny_vare .navn{
	font-family: Tahoma,Verdana,Arial,sans-serif;
	font-size: 16px;
	font-weight: bold;
}

/*Info om varen*/
.meny_vare .info{
	font-family: Tahoma,Verdana,Arial,sans-serif;
	font-size: 15px;
}

/*Bildet av varen*/
.meny_vare img{
	margin-top: 7%;
	height: auto; 
	width: 70%;
}
p{
    text-align: center;
    color: yellowgreen;
}

footer div a{
	padding: 60px;
}
main{
	text-align: center;
}
footer{
	text-align: center;
}
