._nvf{align-items:center;margin:8px 7px 4px 7px}._3wku{height:28px;min-width:44px}._3wkw{color:#4b4f56;font-size:13px;max-width:170px}

#bootloader_ndeCL{height:42px;}.bootloader_ndeCL{display:block!important;}