body {
    background-color: black;
}
h1 {
    color: blue;
    font-size: 25px;
    font-family: Courier;
    border: dashed;
    background-color: white;
}
h2 {
    color: green;
    font-size: 15px;
    font-family: Helvetica;
    border: solid;
    background-color: whitesmoke;
}
p {
    color: red;
    background-color: goldenrod;
}
li {
    color: red;
    background-color: palevioletred;
}
ul {
    color: red;
    background-color: palevioletred;
}