body {
    text-align: center;
    background-color: yellow; 

}
.header{
background-color: goldenrod;
border: solid black;
}
.kropp{
font-family: comic sans ms;
margin: auto;
background-color: goldenrod; 
border: solid black;
}
ul{
list-style-type: none;
margin: 0;
padding:0;
}
a{
text-decoration-line: none;
}
button{
    border-radius: 5px;
    color: blue;
    background-color: white;
    text-decoration: none;
    border: white;
}
button:hover{
    background-color: brown;
    border: brown;

}