body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    background-color: lightgrey; 
}
h1,h2 {
    padding: 10px;
    border-radius: 5px;
}
h1 {
    
    background-color: lightcoral;
    color: whitesmoke;             
}

h2 {
    background-color: #112233; 
    color: cornflowerblue
}
strong {
    color: red; 
}
.box {
    background-image: linear-gradient(rgb(157, 197, 157), rgb(90, 136, 102));
    background-color:rgb(157, 197, 157); 
    border-radius: 25px;
    padding:1cm; /* innenfor elementet */
    margin:1cm; /* utenfor elementet */     
    border: 1px solid #73AD21;       
}
.box:hover {
    background-image: none;
    background-color: rgba(24, 105, 24, 0.87);
}