#hjemme{
    float: left;
    margin-top: 180px;
    margin-left: 340px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#borte{
    float: right;
    margin-top: 180px;
    margin-right: 390px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


#lag{
    position: absolute;
    margin-top: 220px;
    margin-left: 46%;
    color: blue;
    font-size: 180px;
}

.tekst{
    font-size: 18px;
    margin-left: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#tekst{
    margin-left: 31px;
}

.text{
    font-size: 34px;
    font-family: Verdana;
}

#hjemmeLag{
    font-size: 150px;
    margin-left: 25px;
}

#borteLag{
    font-size: 150px;
    margin-left: 25px;
}

.knapp{
    font-size: 16px;
    padding: 2px 30px;
    border: solid 2px blue;
    background-color: white;
}

#reset{
    position: absolute;
    margin-top: 550px;
    text-align: center;
    margin-left: 500px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}