h1 {
    color:blue;
    border:solid;
}

body{
   background-color:pink;
}

#bilder {
    background-color: blue;
    border: none;
    color: white;
    padding: 15px 32px;    
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

  
p {text-align: center;}