body {

    background-color:white;
    height: 100%;


}

.objekt {


    height: 100px;
    width: 100px;
    display: inline-block;
    border-style: solid;
    border-width: 1px;



}

#topp{

    background-color: black;
    height: 100px;

}

#navn{


    background-color: blue;
    display: inline-block;
    height: 100px;
    width: 504px;
    text-align: center;
    font-size: 200%;
}
#klokke{
    height: 100px;
    width: 504px;
    text-align: center;
    background-color: brown;
    display: inline-block;
    font-size: 200%;
}
#hint{
    height: 100px;
    width: 504px;
    text-align: center;
    position: absolute;
    font-size: 200%;
    background-color: chartreuse;
    display: inline-block;
}
#spill{
    display: inline-block;
    background-color: crimson;
    height: 578px;
    width: 1028px;
}

#hoved{
    text-align: center;
    margin-top: 30px;
}

#motvenstre {
    color: white; 
    background-color: blue;
    display: inline-block;
    height: 578px;
}

#mothoyre {
    color: white; 
    background-color: blue;
    display: inline-block;
    position: absolute;
    height: 578px;
}

#detalj{
    display: inline-block;
    height: 500px;
    width: 900px;
    visibility: hidden;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;

    background-color: darkorange;

}